/* @font-face{
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'); 
}

body{
    font-family: Roboto;
} */

.header {
  background-color: #26d07c;
  color: white;
  min-height: 82px;
  text-align: center;
}
.menu ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
}
.menu ul li {
  display: inline;
}
.main {
  color: white;
  background-color: #26d07c;
  min-height: 650px;
  text-align: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  padding: 200px;
}
.main-content svg {
  margin-top: 50px;
  fill: white;
}
.lead {
  font-size: 2em;
  background-color: #f1f2f3;
  min-height: 224px;
  padding: 30px;
  text-align: center;
}
.lead-gen-mod-button {
  display: inline-block;
  min-width: 160px;
  position: relative;
  text-decoration: none;
  color: #fff;
  background: #f9423a;;
  line-height: 1.1;
  font-size: .875rem;
  text-transform: uppercase;
  font-weight: 400;
  padding: 1rem;
  text-align: center;
  -webkit-border-radius: .375rem;
  border-radius: .375rem;
  background-clip: padding-box;
  border: .125rem solid #f9423a;;
  cursor: pointer;
}

.lead-gen-mod-button:hover {
  color: #f9423a;
  background: transparent
}








.get-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border-color: red;
  border-buttom: none;
}
.get-button:hover {
  background-color: white;
  color: red;
  border-color: red;
}
.did-you-know {
  background-color: #26d07c;
  color: #253746;
  padding: 20px;
  margin-top: 100px;
  /* text-align: center; */
  position: relative;
}

.did-you-know-image {
  position: absolute;
  height: 252px;
  width: 212px;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -45%);
}
svg.chudcon,
svg.social-icon {
  fill: #253746;
}

svg.chudcon .clear,
svg.social-icon .clear {
  fill: #fff;
}

svg.chudcon .reflection,
svg.social-icon .reflection {
  fill: #f1f2f3;
}

svg.chudcon .shade,
svg.social-icon .shade {
  fill: #dfe1e3;
}

svg.chudcon .dark-shade,
svg.social-icon .dark-shade {
  fill: #bbbfc3;
}

.seo-service {
  margin-top: 100px;
}

.seo-service-text > .ul {
  display: flex;
  flex-wrap: wrap;
}
.seo-service-text > .ul > .ul-li {
  width: 100%;
  /* list-style: none; */
}
.rocket {
  width: 100%;
  height: 100%;
  background-color: #253746;
  color: white;
  padding: 20px;
}

.rocket-contact-cta {
  display: flex;
}
.footer {
  background-color: #1d252d;
  color: white;
  padding: 10px;
}

.footer-links ul li {
  margin-right: 10px;
  list-style: none;
}
.footer-links ul li a {
  color: white;
  text-decoration: none;
}
.footer-links-hr{
  border: 1px solid white;
  margin: 10px 0px ; !important 
}


.fifty-fifty-content-mod-block-bttn-wrapper{
  width: 100%;
  text-align: center;
}
.fifty-fifty-content-mod-block-bttn-wrapper span{
   margin: 2rem 0 0 1rem;
}
.fifty-fifty-content-mod-block-bttn-wrapper span:first-child{
  margin-left: 0;
}
.fifty-fifty-content-mod-block-bttn-wrapper span.left{
  float: left;
}
.fifty-fifty-content-mod-block-bttn-wrapper span a{
  text-decoration: none;
}
.fifty-fifty-content-mod-block-bttn{
  background: #26d07c;
    border: .125rem solid #26d07c;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1rem;
}
.fifty-fifty-content-mod-block-bttn:hover{
  color: #26d07c;
  background: transparent
}





ul.fifty-fifty-content-mod-block-ul {
  margin: 1rem 0 0 2rem;
}
ul.fifty-fifty-content-mod-block-ul.one-column {
  display: flex;
  flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}
 ul.fifty-fifty-content-mod-block-ul.one-column li.fifty-fifty-content-mod-block-ul-li {
  width: 100%;
  position: relative;
  margin: 0.5rem 0;
 }
 ul.fifty-fifty-content-mod-block-ul li.fifty-fifty-content-mod-block-ul-li:before {
  content: '\f05d';
  font-size: 1.5rem;
  left: -2rem;
  top: 0;
  line-height: 1;
  position: absolute;
  color: #26d07c;
  /* <i class="fa-solid fa-circle-check"></i> */
  
//font awesome










}
